# OS
.DS_Store
Thumbs.db

# IDE 관련
*.iml
*.ipr
*.iws
.idea/
.vscode/
.settings/
.classpath
.project

# 빌드/배포 관련
target/
bin/
out/
build/
dist/
*.war
*.ear

# 로그 / 캐시 / 임시 파일
*.log
*.tmp
*.bak
*.swp
*.swo

# Maven / Gradle 캐시
.mvn/
.mvnw
mvnw.cmd
.gradle/
.gradle-cache/

# 서버 관련
/.metadata/
/Servers/

# 자바 컴파일 산출물
*.class

# 기타
*.DS_Store
