@charset "UTF-8";
 a{color : grey;}
  .login-form{
	text-align :center;
	width : 500px;
	margin : 100px auto;
	height : 600px;
	padding : 30px;
	margin-top : 30px;
	/*border : 0.2px solid rgba(0, 0, 0, 0.2);*/
	border-radius : 20px;
	font-size : 16px;
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color : white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  body{
  	background-color : rgba(188, 188, 188, 0.1);
  	margin: 0;
  }
  input{
  	height : 55px;
  	width : 400px;
  	margin : 2px;
  	font-size : 17px;
  	border : 0.1px solid rgba(0, 0, 0, 0.4);
  	border-radius : 5px;
  	color : grey;
  	background-color :rgba(128, 128, 128, 0.1) ;
  }
  .m_button{
  	background-color : black;
  	color : white;
  	
  }
  .login_button{
  	padding : 2px;
	margin-bottom : 0.2px;  
  }
  .textbox{
  	  padding : 10px;
  	  
	  margin-bottom : 4px; 
  }
  .error-message{
		color : red;
		text-align : left;
		font-size : 0.8em;
		height: 18px; 
    	line-height: 1.2;
	}
	.box{
		margin-top : 10px;
	}